@{
    ViewData["Title"] = "ManageEvents";
    //in questa pagina la gestione degli eventi riguarda solo quelli confermati da un admin o inseriti da un admin
}


<div class="container mt-5" style="max-width: 400px;">
    <h1>Manage Events</h1>
    
</div>