/* ========================================================
   DROP TABLES IF EXIST
   ======================================================== */
IF OBJECT_ID('dbo.Participations', 'U') IS NOT NULL DROP TABLE dbo.Participations;
IF OBJECT_ID('dbo.Events', 'U') IS NOT NULL DROP TABLE dbo.Events;
IF OBJECT_ID('dbo.Users', 'U') IS NOT NULL DROP TABLE dbo.Users;
GO

/* ========================================================
   CREATE TABLES
   ======================================================== */
CREATE TABLE dbo.Users (
    Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Surname NVARCHAR(100) NOT NULL,
    Aka NVARCHAR(100) NULL,
    InstaProfile NVARCHAR(100) NULL,
    Email NVARCHAR(200) NOT NULL,
    Password NVARCHAR(200) NOT NULL,
    Ruolo NVARCHAR(50) NOT NULL
);

CREATE TABLE dbo.Events (
    EventId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    EventName NVARCHAR(200) NOT NULL,
    EventDate DATETIME NOT NULL,
    EventPrice DECIMAL(18,2) NULL,
    EventLocation NVARCHAR(200) NOT NULL,
    IsApproved BIT NOT NULL,
    OrganizerId INT NOT NULL,
    Description NVARCHAR(MAX) NULL
);

CREATE TABLE dbo.Participations (
    ParticipationId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    ParticipationReview NVARCHAR(MAX) NULL,
    ParticipationEventId INT NOT NULL,
    ParticipationUserId INT NOT NULL
);
GO

/* ========================================================
   INSERT USERS FIRST
   ======================================================== */
SET IDENTITY_INSERT dbo.Users ON;



SET IDENTITY_INSERT dbo.Users OFF;
GO

/* ========================================================
   INSERT EVENTS SECOND
   ======================================================== */
SET IDENTITY_INSERT dbo.Events ON;


SET IDENTITY_INSERT dbo.Events OFF;
GO

/* ========================================================
   INSERT PARTICIPATIONS LAST
   ======================================================== */
SET IDENTITY_INSERT dbo.Participations ON;

INSERT [dbo].[Participations] ([ParticipationId], [ParticipationReview], [ParticipationEventId], [ParticipationUserId]) VALUES
(3002, N'Bello sto evento', 3002, 4),
(4003, N'Bello sto evento', 2, 2002),
(9002, N'MuY BonitO', 3, 4),
(10002, NULL, 2, 4),
(11002, NULL, 2, 1002),
(11004, NULL, 6002, 1002);


SET IDENTITY_INSERT dbo.Participations OFF;
GO

/* ========================================================
   ADD FOREIGN KEYS
   ======================================================== */
ALTER TABLE dbo.Events  
  ADD CONSTRAINT FK_Events_Users_OrganizerId 
  FOREIGN KEY(OrganizerId) REFERENCES dbo.Users(Id);

ALTER TABLE dbo.Participations  
  ADD CONSTRAINT FK_Participations_Events_ParticipationEventId 
  FOREIGN KEY(ParticipationEventId) REFERENCES dbo.Events(EventId) ON DELETE CASCADE;

ALTER TABLE dbo.Participations  
  ADD CONSTRAINT FK_Participations_Users_ParticipationUserId 
  FOREIGN KEY(ParticipationUserId) REFERENCES dbo.Users(Id) ON DELETE CASCADE;
GO
