@model User

<h2>Registrazione utente</h2>

<form asp-action="Register" method="post" novalidate>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Aka"></label>
        <input asp-for="Aka" />
        <span asp-validation-for="Aka" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="InstaProfile"></label>
        <input asp-for="InstaProfile" />
        <span asp-validation-for="InstaProfile" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConfermaPassword"></label>
        <input asp-for="ConfermaPassword" />
        <span asp-validation-for="ConfermaPassword" class="text-danger"></span>
    </div>

    <button type="submit">Registrati</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
